<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name ="BisselProjectConfig" description="BisselProjectConfig" >
					<targetDataStore physicalRootPath="C:\Users\namra\BisselProject\src\Foundation\Serialization\serialization" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="Feature.Layouts" database="master" path="/sitecore/templates/Feature" />
						<include name="Foundation.Layouts" database="master" path="/sitecore/templates/Foundation" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>

